<!-- TO DO: Modals
 - Criar modal para atualizar o cliente
 - Criar modal para confirmar exclusao do cliente -->

<!-- TO DO: funcoes
 - Implementar o deletar
 - Implementar o atualizar -->

<!-- Lista dos clientes -->
<div>
    <!-- Percorre cada cliente encontrado -->
    @for (cliente of clientes; track $index) {
    <div class="item_cliente">

        <p>Nome: {{cliente.nome}}</p>
        <p>{{cliente.Tipo_Pessoa}}: {{cliente.id_fiscal}}</p>
        <p>Celular: {{cliente.celular}}</p>
    
        <!-- Botoes para atualizar/deletar o cliente -->
        <div>
            <button class="botao_lista" id="atualizar" (click)="atualizar(cliente.id)">Atualizar</button>
            <button class="botao_lista" id="deletar" (click)="deletar(cliente.id)">Deletar</button>
        </div>
    </div>
    }
</div>

