<div>
    <button (click)="fecharModal()">Fechar</button>

    <!-- PARTE DOS CLIENTES -->
    <div>
        <h2>CLIENTE</h2>

        @if (editar_cliente) {
            <!-- Aqui vai o formulario para editar o cliente -->
             <app-form-atualizar-cliente [cliente]="cliente()" (desabilitarEdicao)="desabilitarEdicao()"></app-form-atualizar-cliente>

        } @else {
            <!-- Aqui vai as informacoes do cliente sem habilitar edicao -->
             <div>
                <p>Nome: {{cliente().nome}}</p>
                <p>{{cliente().tipoPessoa}}: {{cliente().idFiscal}}</p>
                <p>Celular: {{cliente().celular}}</p>
             </div>

             <button (click)="habilitarEdicao()">Editar</button>
             
        }
    </div>

    <!-- PARTE DOS ENDERECOS -->
     <div>
        <h2>ENDEREÇOS</h2>
        <app-enderecos-lista [idCliente]=cliente().idCliente (notificarSelecaoEndereco)="receberSelecaoEndereco($event)"></app-enderecos-lista>
     </div>

     <!-- PARTE DOS PEDIDOS -->
      <div>
        <h2>PEDIDOS</h2>
        <app-pedidos-lista [idEndereco]=idEndereco></app-pedidos-lista>
      </div>



</div>