<!-- TO DO:
 - Implementar a logica dos botoes de acao da lista
 
 - Implementar a lista de produtos pra ir dentro do pedido
 - Implementar a lista de servicos pra ir dentro do pedido 
-->

<!-- botoes de acao da lista -->
<div>
    <button>Novo pedido</button>
    <button>Pedidos pendentes</button>
    <button>Pedidos concluídos</button>
</div>

<!-- o for para imprimir cada pedido vai bem aqui -->
@for (pedido of pedidos(); track $index) {
    <app-bloco-pedido [pedido]="pedido"></app-bloco-pedido>
}
